@model List<Horizons.Data.Models.Message>

<div class="board">

    @foreach (var msg in Model)
    {
        <div class="message-card">

            <div class="sender">
                От: @msg.Sender?.Email
            </div>

            <div>
                @msg.Content
            </div>

            <div class="time">
                @msg.SentOn
            </div>

            <a asp-controller="Chat"
               asp-action="ChatWithGuide"
               asp-route-guideId="@msg.SenderId">
                Отговор
            </a>

        </div>
    }

</div>